body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    position:fixed;
    margin-bottom: 0;
    background-color: rgba(255, 255, 255, 0.77);
    color: #0c67ac;
    font-size: 16px !important;
    width:100%
}


.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #F3AA29 !important;
    background-color: #fff !important;
    font-weight: bold;
}


.icon-bar
{
    background-color: black;
}